
<header>
    <div id="header-wrapper">

      <!-- <a href="/" id="header-logo-link"><i class="far fa-eye"></i></a> -->

      <nav class="navbar">
        <a class="header-link home-link" href="/">
          <span>Home</span>
        </a>
        <a class="header-link face-link" href="/face">
          <span>Face Detector</span>
        </a>
        <a class="header-link chart-link" href="/data_chart_demo">
          <span>Analysis</span>
        </a>
      </nav>
    </div>
  
  
  
    <!-- /////////////////  hamburger menu for moblie /////////////// -->
    <div id="mobile-header-wrapper">
      <div class="header-main">
  
        <a href="/" id="header-logo-link"><i class="far fa-eye"></i></a>
  
        <div id="navToggle">
          <div>
            <span></span> <span></span> <span></span>
          </div>
        </div>
      </div>
  
    </div>
    <div class="moblie-link-wrapper">
      <a class="button" id="mobile-link" href="/">Home</a>
      <a class="button" id="mobile-link" href="/face">Face Detector</a>
      <a class="button" id="mobile-link" href="/data_chart_demo">Analysis</a>
      
    </div>
    
  </header>




<script type="text/javascript">

  let scroll_pos = 0;
  // let path = location.pathname;

  $(window).scroll(function () {
	scroll_pos = $(window).scrollTop();
	if (scroll_pos > 1) {
		$('header').addClass('scrolled');
		$('.header-link').addClass('scrolled');
	} else {
		$('header').removeClass('scrolled');
		$('.header-link').removeClass('scrolled');
	}
});


</script>