<!DOCTYPE html>
<html lang="en">
<head>
  <title>account</title>
	<% include ./partials/head.ejs %>
    <meta name="google-signin-client_id" content="<%= clientIdUrl %>">
</head>

<body>
    <% include ./partials/header.ejs %>
    <div class="account_page_wrapper" onload="openAccountPage();">
        <div class="user_info_wrapper">
            <img class="user_icon" id="u_i" alt="">
            <div class="user_info">
                <label for="user_name" id="u_n"> placeholder</label>
                <label for="email" id="u_e"> placeholder@gmail.com</label>
            </div>
            <a href="/#" id="s_u" onclick="checkSignOut();">Sign out</a>
        </div>
    </div>


<script src="./../js/main.js"></script>
<!-- Google Login -->
<script src="./../js/googleLogin.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="./../js/accountPage.js"></script>
</body>
</html>
