<!DOCTYPE html>
<html lang="en">
<head>
  <title>account</title>
	<% include ./partials/head.ejs %>

</head>

<body>
  <% include ./partials/header.ejs %>
  <div class="account_page_wrapper">
    <div class="user_info_wrapper">
      <div class="user_icon">icon</div>
      <div class="user_info">
        <label for="user_name"><span>User Name:</span> placeholder</label>
        <label for="email"><span>Email:</span> placeholder@gmail.com</label>
      </div>
    </div>
  </div>
</body>
</html>