<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js"></script>
        <link rel="stylesheet" href="/stylesheets/demo_chart.css">
    </head>
    <body>
        <div class="head-wrapper">
            <h1>Chart</h1>

            <select>
              <option value="Hour">Hour</option>
              <option value="Day">Day</option>
            </select>
        </div>

        <div class="container">
            <canvas id="canvas"></canvas>
        </div>
    </body>
    <script src="./js/data_chart_demo.js" charset="utf-8"></script>
</html>
