<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>Desk Life | Analysis</title>
<meta charset="utf-8">
<% include ./partials/head.ejs %>
</head>

<% include ./partials/header.ejs %>

<body class="data">
    <div class="data-wrapper">
        <div class="head">
            <h1>Health condition while working at your desk</h1>
            <select>
                <option value="Hour">Hour</option>
                <option value="Day">Day</option>
            </select>
        </div>
        <div class="container">
            <canvas id="canvas"></canvas>
        </div>
    </div>
</body>
<script src="js/data_chart_demo.js" charset="utf-8"></script>
