<!DOCTYPE html>
<html lang="en">
<head>
  <title>Desk Life | Face</title>
  <% include ./partials/head.ejs %>
</head>

  <% include ./partials/header.ejs %>

<body class="face">
    <div class="content-wrapper">

      <div class="video-wrapper" >
          <video id="cam_input" height="280" width="373" style="display: none"></video>
          <canvas id="canvas_output" ></canvas>
      </div>

      <div class="detect-wrapper">
        <h3>Eyes Detector - <span id="eye-alert"></span></h3> 
        <h3>Face Detector - <span id="distance-alert"></span></h3> 
          <a class="btn" href="/data_chart_demo">Analysis</a>
      </div>
        
    </div>

</body>
<script src="./js/utils.js"></script>
<script defer src="./js/script_proto.js"></script>
<script async src="./js/opencv.js" onload="openCvReady();"></script>

</html>
