
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Healthware. &mdash; Daily health supporter</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

  <!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FREEHTML5.CO
    URL: https://www.free-css.com/free-css-templates/page241/solid
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="./../stylesheets/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="./../stylesheets/css/icomoon.css">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="./../stylesheets/css/simple-line-icons.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="./../stylesheets/css/bootstrap.css">
	<!-- Style -->
	<link rel="stylesheet" href="./../stylesheets/css/style.css">

	<!-- Google signin/login -->
	<!-- Source: https://www.koheiando.com/tech/node-js/477 -->
	<meta name="google-signin-scope" content="profile email openid">
	<!-- <meta name="google-signin-client_id" content="<%= clientIdUrl %>"> -->
	<meta name="google-signin-client_id" content="1059834391781-bjme5ivmlmv68ip8flmq14c90h9cpp8c.apps.googleusercontent.com">


	<!-- Modernizr JS -->
	<script src="./../js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		<!-- Header section -->
		<header role="banner" id="fh5co-header">
			<div class="container">
				<div class="row">
					<nav class="navbar navbar-default navbar-fixed-top">
						<div class="navbar-header">
							<!-- Mobile Toggle Menu Button -->
							<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
							<a class="navbar-brand" href="/">Healthware.</a>
						</div>
						<div id="navbar" class="navbar-collapse collapse">
							<ul class="nav navbar-nav navbar-right">
								<li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
								<li><a href="#" data-nav-section="services"><span>About</span></a></li>
								<li><a href="#" data-nav-section="demo"><span>Demo</span></a></li>
								<li><a href="#" data-nav-section="download-pkg"><span>Download</span></a></li>
								<!-- <li><a href="#" data-nav-section="pricing"><span>Pricing</span></a></li> -->
								<li><a href="#" data-nav-section="account" id="user_account"><span>Sign Up/Login</span></a></li>
							</ul>
						</div>
					</nav>
				</div>
		  </div>
		</header>
		<!-- Home head section -->
		<section id="fh5co-home" data-section="home" style="background-image: url(./../stylesheets/img/plant_img1.jpg);" data-stellar-background-ratio="0.5">
	        <!-- Photo by Scott Webb on Unsplash  URL: https://unsplash.com/photos/hDyO6rr3kqk -->
			<div class="gradient"></div>
			<div class="container">
				<div class="text-wrap">
					<div class="text-inner">
						<div class="row">
							<div class="col-md-8 col-md-offset-2 text-center">
								<!-- <h1 class="animate-box"><span class="big">Health Insurance that you can trust</span> <br><span>should be</span> <br><span class="medium">Open and Trustworthy.</span><br><span>Let's have the</span> <br> <span class="medium">Best Life Plan.</span></h1> -->
								<h1 class="animate-box"><span class="medium">Healthcare Service</span><br><span class="medium">for everyone who uses</span><br><span class="medium">computer and smartphones.</span></h1>
								<!-- <h2 class="animate-box">Crafted with love by <a href="http://freehtml5.co/" target="_blank" title="Free HTML5 Bootstrap Templates" class="fh5co-link">FREEHTML5.co</a></h2> -->
								<div class="call-to-action">
									<a href="#jump2demo" class="demo animate-box"><i class="icon-power"></i> Demo</a>
									<a href="#jump2download" class="download animate-box"><i class="icon-download"></i> Download</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- About section -->
		<section id="fh5co-services" data-section="services">
			<div class="fh5co-services">
				<div class="container">
	                <div class="row">
	    					<div class="col-md-12 section-heading text-center">
	    						<h2 class="animate-box">About</h2>
	    						<div class="row">
	    							<div class="col-md-8 col-md-offset-2 subtext animate-box">
	    								<h3>We use computer and smartphones everyday; hence, we spend time sitting and staring screens longer than ever. This cause us to get several symptons such as dry eye, blue-light damage, and hernia. This monitoring software will keep you healthy and productive while you are on the Pc & smartphones.</h3>
	    							</div>
	    						</div>
	    					</div>
	    			</div>
					<div class="row" style="margin-bottom:10%">
    					<div class="col-md-6">
							<img src="./../stylesheets/img/pc_smartphone_man.jpg" style="height:100%; width:100%; border-radius:5px;">
    					</div>
						<div class="col-md-6 section-heading text-center animate-box" style="float:none;">
							<h3>We use computer and smartphones everyday; hence, we spend time sitting and staring screens longer than ever. This cause us to get several symptons such as dry eye, blue-light damage, and hernia. This monitoring software will keep you healthy and productive while you are on the Pc & smartphones.
							</h3>
    					</div>
	    			</div>
					<div class="row" style="margin-bottom:10% ;display: flex; flex-direction: row-reverse;">
						<!-- float:left;font-size:18px;font-weight:400;line-height:1.5; -->
						<div class="col-md-6" style="width: 100%">
							<img src="./../stylesheets/img/driving_women.jpg" style="height:100%; width:100%;border-radius:5px;">
						</div>
						<div class="col-md-6 section-heading text-center animate-box" style="float:none;">
							<h3>We use computer and smartphones everyday; hence, we spend time sitting and staring screens longer than ever. This cause us to get several symptons such as dry eye, blue-light damage, and hernia. This monitoring software will keep you healthy and productive while you are on the Pc & smartphones.
							</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 text-center">
							<div class="box-services" id="box-services">
								<div class="icon animate-box">
									<span><i class="icon-eye"></i></span>
								</div>
								<div class="fh5co-post animate-box">
									<h3>Dry eye</h3>
									<p>According to the research, we blink eyes 15~20 times per minute. However, when we are on PC or smartphones, it decreases to 1~5 times per minute. This causes eye strain and dry eye.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 text-center">
							<div class="box-services">
								<div class="icon animate-box">
									<span><i class="icon-screen-desktop"></i></span>
								</div>
								<div class="fh5co-post animate-box">
									<h3>Blue light damage</h3>
									<p>PC and smartphones passes strong light (blue light) to the users. According to recent year research, they say blue light damage can cause macular degeneration.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 text-center">
							<div class="box-services">
								<div class="icon animate-box">
									<span><i class="icon-heart"></i></span>
								</div>
								<div class="fh5co-post animate-box">
									<h3>Hernia (posture issue)</h3>
									<p>Sitting on a chair for continousely long period of time is not healthy. We notify the users when they are on the screen or chair for too long.</p>
								</div>
							</div>
						</div>
					</div>
					<!-- Used for jumping from Demo button to quick demo section -->
					<a name="jump2demo"></a>
					<!------------------------------------------------------------->
				</div>
			</div>
		</section>

		<!-- Demo Section -->
		<section id="fh5co-demo" data-section="demo">
			<div class="fh5co-demo">
				<div class="container">
					<div class="row">
						<div class="col-md-12 section-heading text-center">
							<h2 class="animate-box">Quick Demo</h2>
						</div>
					</div>
					<!-- quick demo -->
					<div class="row">
						<!-- <div class="col-md-1 text-center"></div> -->
						<div class="col-md-12 text-center">
							<div class="box-services">
								<div class="fh5co-post animate-box">
									<h3>See how your eyes get detected.</h3>
									<p>Camera not working or just loading? Click this <a href="/instructions">link</a> to see how to enable camera access.</p>
									<div class="content-wrapper">
									  	<div class="video-wrapper" >
										  	<video id="cam_input" height="280" width="373" style="display: none"　autoplay="true"></video>
										  	<!-- Credit: Gleb Kuznetsov gleb@milkinside.com -->
										  	<img src="./../stylesheets/loading_camera.gif" id="load_camera">
										  	<canvas id="canvas_output" class="hide"　autoplay="true"></canvas>
									  	</div>
									  	<div class="detect-wrapper">
											<h3>Eyes Detector     - <span id="eye-alert"></span></h3>
											<h3>Distance Detector - <span id="distance-alert"></span></h3>
										  	<!-- <a class="btn" href="/data_chart_demo">Analysis</a> -->
									  	</div>
									</div>
								</div>
							</div>
						</div>
						<!-- <div class="col-md-1 text-center"></div> -->
					</div>
					<!-- Graph -->
					<div class="row">
						<!-- <div class="col-md-1 text-center"></div> -->
						<div class="col-md-12 text-center">
							<div class="box-services">
								<div class="fh5co-post animate-box">
									<h3>How the collected data is used</h3>
									<div class="data-wrapper">
										<!-- <div class="head"> -->
											<!-- <h1>Health condition while working at your desk</h1> -->
										<!-- </div> -->
										<div class="container">
											<canvas id="canvas"></canvas>
										</div>
										<p></p>
										<p>This is an example of how you were working on your PC the last 24 hours. You can see how the number of eye blinks decreases in the afternoon. In addition, you can see that the distance between your face and PC display gets closer you are sitting for long hours. These patters/data will be collected and it will help you prevent from happening.
										</p>
									</div>
								</div>
							</div>
						</div>
						<!-- <div class="col-md-1 text-center"></div> -->
					</div>
					<!-- Used for jumping from Download button to Download section -->
					<a name="jump2download"></a>
					<!--------------------------------------------------------------->
				</div>
			</div>
		</section>


		<!-- <section id="fh5co-pricing" data-section="pricing">
			<section class="pricing-section bg-3">
	      	<div class="container">
	      		<div class="row">
						<div class="col-md-12 section-heading text-center">
							<h2 class="animate-box">Pricing</h2>
							<div class="row">
								<div class="col-md-8 col-md-offset-2 subtext animate-box">
									<h3>Find the plan that fits you the most!</h3>
								</div>
							</div>
						</div>
					</div>
	      		<div class="row">
	      			<div class="col-md-4 text-center animate-box">
	      				<div class="pricing__item">
		                    <h3 class="pricing__title">Student Plan</h3>
		                    <div class="pricing__price"><span class="pricing_currency">$</span>9.90</div>
		                    <p class="pricing__sentence">Minimum health insurance</p>
		                    <ul class="pricing__feature-list">
								<li class="pricing__feature">24/7 call & chat support</li>
		                        <li class="pricing__feature">70% shouldered by service (*1)</li>
		                    </ul>
		                    <p><a href="#" class="btn btn-primary btn-lg pricing__action">Learn More</a></p>
		                </div>
	      			</div>
	      			<div class="col-md-4 text-center animate-box">
	      				<div class="pricing__item">
		                    <h3 class="pricing__title">Premium Student Plan</h3>
		                    <div class="pricing__price"><span class="pricing_currency">$</span>29,90</div>
		                    <p class="pricing__sentence">Health insurance for Athletes</p>
		                    <ul class="pricing__feature-list">
		                        <li class="pricing__feature">24/7 call & chat support</li>
		                        <li class="pricing__feature">Athlete safe plan</li>
		                        <li class="pricing__feature">70% shouldered by service (*1)</li>
		                    </ul>
		                    <p><a href="#" class="btn btn-primary btn-lg pricing__action">Learn More</a></p>
		                </div>
	      			</div>
	      			<div class="col-md-4 text-center animate-box">
	      				<div class="pricing__item">
		                    <h3 class="pricing__title">All Inclusive Plan</h3>
		                    <div class="pricing__price"><span class="pricing_currency">$</span>59,90</div>
		                    <p class="pricing__sentence">Full support</p>
		                    <ul class="pricing__feature-list">
		                        <li class="pricing__feature">24/7 call & chat support</li>
		                        <li class="pricing__feature">100% shouldered by service (*1)</li>

		                    </ul>
		                    <p><a href="#" class="btn btn-primary btn-lg pricing__action">Learn More</a></p>
		                </div>
	      			</div>
	      		</div>
	      	</div>
	     </section>
		</section> -->

		<!-- Signup/LogIn Section -->
		<section id="fh5co-download" data-section="download-pkg">
			<div class="fh5co-download">
				<div class="container">
					<div class="row">
						<div class="col-md-12 section-heading text-center">
							<h2 class="animate-box"><span>Download</span></h2>
							<div class="row">
								<div class="col-md-8 col-md-offset-2 subtext">
									<h3 class="animate-box">First release is coming soon...</h3>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 subtext">
									<h3 class="animate-box">macOS X</h3>
									<img src="./../stylesheets/img/macos-logo.png" class="operation-system-logo" alt="">
									<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
								</div>
								<div class="col-md-4 subtext">
									<h3 class="animate-box">Windows 10</h3>
									<img src="./../stylesheets/img/windows-logo.png" class="operation-system-logo" alt="">
									<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
								</div>
								<div class="col-md-4 subtext">
									<h3 class="animate-box">Ubuntu 18.04 LTS</h3>
									<img src="./../stylesheets/img/ubuntu-logo.png" class="operation-system-logo" alt="">
									<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
								</div>
							</div>
						</div>
					</div>
					<div class="row"></div>
				</div>
			</div>
		</section>

	    <!-- Signup/LogIn Section -->
	    <section id="fh5co-download" data-section="account">
			<div class="fh5co-download">
				<div class="container">
					<div class="row">
						<div class="col-md-12 section-heading text-center">
							<h2 class="animate-box"><span>Sign in with Google and link your account</span></h2>
							<div class="row">
								<div class="col-md-8 col-md-offset-2 subtext">
									<!-- <h3 class="animate-box">Signup and LogIn is coming soon...</h3> -->
									<div class="g-signin2" data-onsuccess="onSignIn" id="my-signin2" style="margin-left:33%;"  data-theme="dark"></div>
									<a href="/" onclick="signOut();">SignOut</a>
									<!-- <a href="/" onclick="signOut();">Sign out</a> -->
								</div>
							</div>
						</div>
					</div>
					<div class="row"></div>
				</div>
			</div>
		</section>


		<!-- Footer section -->
		<div id="fh5co-footer" role="contentinfo">
			<div class="container">
				<div class="row">
					<div class="col-md-4 animate-box">
						<h3 class="section-title">Healthware.</h3>
						<p>Health care service for PC / smartphone users.</p>
					</div>
					<div class="col-md-4 animate-box">
						<h3 class="section-title">Our Address</h3>
						<ul class="contact-info">
							<li><i class="icon-map"></i>4600 Elmont Dr #1214 Austin TX 78741</li>
							<li><i class="icon-phone"></i>+ 1571 439 1600</li>
							<li><i class="icon-envelope"></i><a href="#">openhealth@youemail.com</a></li>
							<li><i class="icon-globe"></i><a href="#">www.yoursite.com</a></li>
						</ul>
						<!-- <h3 class="section-title">Connect with Us</h3>
						<ul class="social-media">
							<li><a href="#" class="facebook"><i class="icon-facebook"></i></a></li>
							<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
							<li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
							<li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>
						</ul> -->
					</div>
					<div class="col-md-4 animate-box">
						<h3 class="section-title">Drop us a line</h3>
						<form class="contact-form" action="https://formspree.io/xgevjrpk" method="POST">
							<div class="form-group">
								<label for="name" class="sr-only">Name</label>
								<input type="name" class="form-control" id="name" placeholder="Name"  name="name">
							</div>
							<div class="form-group">
								<label for="email" class="sr-only">Email</label>
								<input type="email" class="form-control" id="email" placeholder="Email" name="_replyto">
							</div>
							<div class="form-group">
								<label for="message" class="sr-only">Message</label>
								<textarea class="form-control" id="message" rows="7" placeholder="Message" name="message"></textarea>
							</div>
							<div class="form-group">
								<input type="submit" id="btn-submit" class="btn btn-send-message btn-md" value="Send Message">
							</div>
						</form>
					</div>
				</div>
				<div class="row">
					<!-- <div class="col-md-12">
						<p class="copy-right">&copy; 2015 Solid Free Template. All Rights Reserved. <br>
							Designed by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a>
							Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a>
						</p> -->
				</div>
			</div>
		</div>


		<!-- jQuery -->
		<script src="./../js/jquery.min.js"></script>
		<!-- jQuery Easing -->
		<script src="./../js/jquery.easing.1.3.js"></script>
		<!-- Bootstrap -->
		<script src="./../js/bootstrap.min.js"></script>
		<!-- Waypoints -->
		<script src="./../js/jquery.waypoints.min.js"></script>
		<!-- Stellar Parallax -->
		<script src="./../js/jquery.stellar.min.js"></script>
		<!-- Counters -->
		<script src="./../js/jquery.countTo.js"></script>
		<!-- Main JS (Do not remove) -->
		<script src="./../js/main.js"></script>
		<!-- Chart library -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js"></script>


		<!-- Face detecte demo -->
		<script src="./js/utils.js"></script>
		<script defer src="./js/script_proto.js"></script>
		<script async src="./js/opencv.js" onload="openCvReady();"></script>
		<!-- DB data for the graph -->
		<script>var dataForChart = <%- chart_data %>;</script>
		<script src="./../js/data_chart_demo.js" charset="utf-8"></script>

		<!-- Google Login -->
		<script src="./../js/googleLogin.js"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>

	</body>
</html>
