



.face{
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  header #header-wrapper .navbar .header-link{
    color: black;
  }
  .content-wrapper{
    max-width: 1080px;
    padding: 0 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
      .video-wrapper{
        width: 100%;

      #canvas_output{
        width: fit-content;
      }
    }
    .detect-wrapper{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3{
        color: darkgrey;
        padding: 10px 0;
        border-bottom: solid 2px;
        span{
          margin-left: 50px;
          font-size: 15px;        }
      }
      #eye-alert{
        color: $primary;
      }
      #distance-alert{
        color: red;
      }
    .btn{
      width: 35%;
      margin-top: 30px;
      text-align: center;
      background: $primary;
      // background: black;
      padding: 10px 20px;
      color: white;
      text-decoration: none;
      height: min-content;
      // align-self: flex-end;
      }
    }
  }
}


