body{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F0F8FF;
    font-family: Sans-serif;

}
.container{
    width: 85%;
    background-color: white;
    border-radius: 10px;
}

.head-wrapper{
    margin: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.head-wrapper h1{
    color:black;
    margin: 0 40px;
}
.head-wrapper select{
    margin: 0 53px;
    background-color: lightgray;
    width: 7%;
    color: black;
    padding: 1%;
    height: auto;
}
#canvas{
    display: flex;
    /* width: 90%; */
    height: auto;
    margin: auto;
}
